{
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": false,
  "printWidth": 500,
  "bracketSameLine": true,
  "astroAllowShorthand": false,
  "plugins": ["prettier-plugin-astro"]
}
