---
import Icon from "../../icons/Icon.astro";
---

<input type="checkbox" name="menu" id="tn-open-options" class="peer/menu hidden" />
<label for="tn-open-options" id="tn-tools-button" class="tn-btn p-4! text-(--tn-theme-contrast) bg-(--tn-theme-primary) rounded-2xl hover:text-(--tn-neutral-tertiary) hover:bg-(--tn-theme-primary)/80! mx-1! cursor-pointer peer-checked/menu:bg-(--tn-theme-contrast) peer-checked/menu:text-(--tn-netrual-tertiary-color)! peer-checked/menu:hover:bg-(--tn-theme-contrast) flex justify-center items-center min-w-[56px]">
  <Icon name="tools" className="size-6 text-(--tn-neutral-tertiary-color)" />
</label>
