---
// AboutTab.astro - Settings Modal - About Tab

// Languages
import { getLang, useTranslations } from "../../../../i18n/utils";
const lang = getLang();
const t = useTranslations(lang);
---

<div class="settings-tab hidden [&.active]:block active" id="about-tab">
  <div class="settings-header">
    <h3><u data-i18n="about.main-title"></u></h3>
  </div>
  <hr />
  <div class="settings-body">
    <h4 data-i18n="about.main-first-description"></h4><br />
    <h4 data-i18n="about.main-second-description"></h4><br />
    <h6 data-i18n="about.first-list"></h6><br />
    <ul class="list-disc list-inside pl-5!">
      <li data-i18n="about.first-list-item1"></li>
      <li data-i18n="about.first-list-item2"></li>
      <li data-i18n="about.first-list-item3"></li>
      <li data-i18n="about.first-list-item4"></li>
    </ul>
    <br />
    <h4 data-i18n="about.intro-third-description"></h4><br />
    <div class="settings-header">
      <h3><u data-i18n="about.second-title"></u></h3>
    </div>
    <h4 data-i18n="about.second-first-description"></h4><br />
    <div class="settings-header">
      <h3><u data-i18n="about.title-second-list"></u></h3>
    </div>
    <ul class="list-disc list-inside pl-5!">
      <li data-i18n="about.title-second-list-item1"></li>
      <li data-i18n="about.title-second-list-item2"></li>
      <li data-i18n="about.title-second-list-item3"></li>
      <li data-i18n="about.title-second-list-item4"></li>
      <li data-i18n="about.title-second-list-item5"></li>
    </ul>
    <br />
    <div class="settings-header">
      <h3><u data-i18n="about.third-title"></u></h3>
    </div>
    <h4 data-i18n="about.third-first-description"></h4><br />
  </div>
</div>
