---
// Appearance.astro - Settings Modal - Appearance Tab
---

<section id="appearance-tab" class="tn-appearance-tab settings-tab hidden [&.active]:block">
  <div class="settings-header">
    <h3>Appearance</h3>
  </div>
  <hr />
  <div class="settings-body">
    <div class="grid grid-cols-3 gap-4">
      <div class="col-span-1">1</div>
      <div class="col-span-2">2</div>
    </div>
  </div>
</section>
