---
// FontTab.astro - Settings Modal - Font Tab

// Icons
import Icon from "../../../icons/Icon.astro";
---

<div class="settings-tab hidden [&.active]:block" id="fonts-tab">
  <div class="settings-header">
    <h3 class="font-black underline">Configuracion Tipografica</h3>
  </div>

  <div class="settings-body">
    <div class="settings-section">
      <h4 class="font-medium! text-xl!">Fuente</h4>

      <div class="settings-section__group">
        <select id="font-select" class="font-select w-full py-[10px]! px-[12px]! rounded-sm border-2 border-(--tn-theme-primary) bg-(--tn-theme-secondary) text-(--color-text)! text-normal cursor-pointer transition-all hover:border-(--tn-theme-accent) focus:outline-0 focus:border-(--tn-theme-contrast)">
          <option value="Inter">Inter (Por defecto)</option>
          <option value="Poppins">Poppins</option>
          <option value="Raleway">Raleway</option>
          <option value="Open Sans">Open Sans</option>
          <option value="Roboto">Roboto</option>
          <option value="Montserrat">Montserrat</option>
          <option value="custom">Personalizada</option>
        </select>
      </div>

      <div id="custom-font-url-wrapper" class="settings-section__group mt-4! hidden" style="display: none;">
        <input id="font-url-input" class="placeholder:text-(--color-text)! flex-1 w-full py-[10px]! px-[12px]! rounded-sm border-2 border-(--tn-theme-primary) bg-(--tn-theme-secondary) text-(--color-text) text-normal cursor-pointer transition-all hover:border-(--tn-theme-accent) focus:outline-0 focus:border-(--tn-theme-contrast)" type="text" placeholder="Introduce una URL válida de Google Fonts o deja vacío para fuente por defecto" />
        <div id="font-url-error" class="bg-red-600 mt-4! hidden text-white rounded-md px-3!"></div>
      </div>

      <div id="custom-font-instructions" class="settings-section mt-4! hidden">
        <ul role="list" class="list-disc pl-3!">
          <li class="block md:inline-flex items-center my-2! before:content-['·'] before:text-inherit! md:before:text-6xl! before:leading-0! before:mr-3!">
            Para fuente personalizada, Obtén la URL desde <a href="https://fonts.google.com/" target="_blank" class="mx-1!">Google Fonts</a> con la opción <code class="mx-1!">Get embed code</code>.
          </li>
          <li class="block md:inline-flex items-center my-2! before:content-['·'] before:text-inherit! md:before:text-6xl! before:leading-0! before:mr-3!">
            Copia la URL del elemento <code class="mx-1!">&lt;link&gt;</code> (debe comenzar con <code class="mx-1!">https://fonts.googleapis.com/</code>).
          </li>
        </ul>
        <p class="mt-3!">La configuración de la fuente se guarda localmente en este navegador y se aplica automáticamente.</p>
      </div>

      <div class="settings-section mt-4!">
        <ul role="list" class="list-disc pl-3!">
          <li class="block md:inline-flex items-center my-2! before:content-['·'] before:text-inherit! md:before:text-6xl! before:leading-0! before:mr-3!">Selecciona una fuente de la lista o elige <strong>Personalizada</strong> para usar otra.</li>
        </ul>
      </div>
    </div>

    <hr />

    <div class="settings-section mt-5!">
      <h4 class="font-medium! text-xl!">Tamaño de fuente</h4>
      <p>Controla el tamaño del texto en el editor</p>

      <div class="settings-form grid grid-rows-3 md:grid-rows-1 md:grid-cols-3 gap-5">
        <div class="group flex flex-col gap-2 mb-5!">
          <h4 class="mb-0! mt-3!">Base</h4>
          <input type="radio" name="options-font-size" class="hidden peer" id="option-base-text" checked />
          <label for="option-base-text" class="w-full max-w-[300px] h-[100px] md:h-[300px] overflow-hidden text-ellipsis! flex items-start justify-center p-5! border-2 border-(--tn-theme-accent) rounded-lg cursor-pointer peer-checked:border-(--tn-theme-contrast)">
            <p class="base-text text-(--color-text)">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea at quos quaerat est aliquid fugit, iusto blanditiis, sunt omnis culpa pariatur optio magnam minima cumque! Ipsa nisi, iste aperiam a officiis voluptatem quis repellendus distinctio minus! Voluptas omnis perspiciatis porro animi fugit ullam commodi, voluptates officia obcaecati harum maiores quisquam.</p>
          </label>
        </div>

        <div class="group flex flex-col gap-2 mb-5!">
          <h4 class="mb-0! mt-3!">Medium</h4>
          <input type="radio" name="options-font-size" class="hidden peer" id="option-medium-text" />
          <label for="option-medium-text" class="w-full max-w-[300px] h-[100px] md:h-[300px] overflow-hidden text-ellipsis! flex items-start justify-center p-5! border-2 border-(--tn-theme-accent) rounded-lg cursor-pointer peer-checked:border-(--tn-theme-contrast)">
            <p class="medium-text text-(--color-text)">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas delectus ratione accusantium est vel quis, ut autem eos minima nam enim assumenda ea nesciunt blanditiis, dolor voluptas voluptate dolores officiis. Est ex ipsam odio temporibus. Distinctio, earum est cum at in quia, praesentium quod commodi exercitationem mollitia, ex cupiditate omnis?</p>
          </label>
        </div>

        <div class="group flex flex-col gap-2 mb-5!">
          <h4 class="mb-0! mt-3!">Large</h4>
          <input type="radio" name="options-font-size" class="hidden peer" id="option-large-text" />
          <label for="option-large-text" class="w-full max-w-[300px] h-[100px] md:h-[300px] overflow-hidden text-ellipsis! flex items-start justify-center p-5! border-2 border-(--tn-theme-accent) rounded-lg cursor-pointer peer-checked:border-(--tn-theme-contrast)">
            <p class="large-text text-(--color-text)">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas delectus ratione accusantium est vel quis, ut autem eos minima nam enim assumenda ea nesciunt blanditiis, dolor voluptas voluptate dolores officiis. Est ex ipsam odio temporibus. Distinctio, earum est cum at in quia, praesentium quod commodi exercitationem mollitia, ex cupiditate omnis?</p>
          </label>
        </div>
      </div>

      <div class="mt-6!">
        <button id="save-font-styles" class="flex items-center justify-center px-[16px]! py-[8px]! bg-(--tn-theme-contrast) text-(--tn-neutral-tertiary-color) border-0 cursor-pointer rounded-sm">
          <Icon name="save" className="size-1 md:size-6 mr-2!" />
          Guardar Estilos de Fuente
        </button>
      </div>
    </div>
  </div>
</div>
