---
// LangTab.astro - Settings Modal - Lang Tab
---

<div class="settings-tab hidden [&.active]:block" id="lang-tab">
  <div class="settings-header">
    <h3>Idioma</h3>
  </div>
  <hr />
  <div class="settings-body">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa, atque.</p>
  </div>
</div>
