---
// TermsTab.astro - Settings Modal - Terms Tab
---

<div class="settings-tab hidden [&.active]:block" id="terms-tab">
  <div class="settings-header">
    <h3 data-i18n="terms.main-title"></h3>
    <h6 data-i18n="terms.main-subtitle"></h6>
  </div>
  <hr />
  <div class="settings-body">
    <h4 class="mb-3! underline" data-i18n="terms.second-title1"></h4>
    <p class="mb-3!" data-i18n="terms.second-description1"></p>
    <h4 class="mb-3! underline" data-i18n="terms.second-title2"></h4>
    <p class="mb-3!" data-i18n="terms.second-description2"></p>
    <h4 class="mb-3! underline" data-i18n="terms.second-title3"></h4>
    <p class="mb-3!" data-i18n="terms.second-description3"></p>
  </div>
</div>
