---
// TermsTab.astro - Settings Modal - Terms Tab
---

<div class="settings-tab hidden [&.active]:block" id="terms-tab">
  <div class="settings-header">
    <h3>Términos de Uso</h3>
    <h6>Términos y Advertencias para el Uso del Bloc de Notas</h6>
  </div>
  <div class="settings-body">
    <h4><u>Límite de Almacenamiento</u></h4><br />
    <p>Este Bloc de Notas utiliza el LocalStorage de tu navegador para guardar la información. Aunque el límite de almacenamiento es de 5 MB, te recomiendo no almacenar grandes volúmenes de texto. Ten en cuenta que el almacenamiento en el navegador es limitado y puede verse afectado si guardas grandes cantidades de información. Si alcanzas el límite, podrías perder datos, por lo que sugerimos realizar copias de seguridad regularmente.</p><br />
    <h4><u>Seguridad de la Información</u></h4><br />
    <p>La información que guardas en este Bloc de Notas no está encriptada y se almacena en el LocalStorage de tu navegador, lo cual no garantiza su seguridad. Te recomiendo no guardar información sensible o privada en esta herramienta, ya que podría ser vulnerable a accesos no autorizados si otros usuarios tienen acceso a tu dispositivo o navegador.</p><br />
    <h4><u>Precaución con la URL</u></h4><br />
    <p>Asegúrate de que estás utilizando una URL confiable y segura al acceder al Bloc de Notas. Evita acceder desde enlaces sospechosos o en redes públicas no seguras, ya que podrías exponerte a ataques de suplantación de identidad (phishing) o robo de datos. Te recordamos que el equipo de desarrollo no se responsabiliza por la pérdida de datos debido a usos inapropiados de la herramienta o acceso no seguro.</p>
  </div>
</div>
