---
// ThemeTab.astro - Settings Modal - Theme Tab
---

<div class="settings-tab hidden [&.active]:block" id="theme-tab">
  <div class="settings-header">
    <h3>Selecciona tu tema favorito</h3>
  </div>

  <div class="settings-body">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sed, dolorem.</p>
  </div>
</div>
