<div id="context-menu" class="context-menu">
  <div class="context-menu__item" data-action="copy" data-requires-selection="true">
    <span>Copiar</span>
    <span class="shortcut">Ctrl + C</span>
  </div>
  <div class="context-menu__item" data-action="cut" data-requires-selection="true">
    <span>Cortar</span>
    <span class="shortcut">Ctrl + X</span>
  </div>
  <div class="context-menu__item" data-action="paste">
    <span>Pegar</span>
    <span class="shortcut">Ctrl + V</span>
  </div>
  <div class="context-menu__separator"></div>
  <div class="context-menu__item" data-action="bold" data-requires-selection="true">
    <span>Negrita</span>
    <span class="shortcut">Ctrl + B</span>
  </div>
  <div class="context-menu__item" data-action="italic" data-requires-selection="true">
    <span>Cursiva</span>
    <span class="shortcut">Ctrl + I</span>
  </div>
  <div class="context-menu__item" data-action="underline" data-requires-selection="true">
    <span>Subrayado</span>
    <span class="shortcut">Ctrl + U</span>
  </div>
  <div class="context-menu__separator"></div>
  <div class="context-menu__item" data-action="undo">
    <span>Deshacer</span>
    <span class="shortcut">Ctrl + Z</span>
  </div>
  <div class="context-menu__item" data-action="redo">
    <span>Rehacer</span>
    <span class="shortcut">Ctrl + Y</span>
  </div>
</div>