---
// Styles
import "../styles/components/TabList.scss";
import "../styles/components/EditorContent.scss";

// Components
import Icon from "./icons/Icon.astro";
import { getLang, useTranslations } from "../i18n/utils";

const t = useTranslations(getLang());
---

<div class="group relative">
  <button id="create-tab" tabindex="0" aria-label={t("context-menu.new-tab")} class="bg-(--tn-theme-contrast)! p-4! rounded-2xl flex justify-center items-center hover:bg-(--tn-theme-contrast)/75! hover:border-transparent text-(--tn-neutral-tertiary-color) min-w-[56px]">
    <Icon name="plus" />
  </button>
  <span data-i18n="context-menu.new-tab" class="pointer-events-none absolute right-full mr-2 top-1/2 -translate-y-1/2 whitespace-nowrap rounded bg-(--tn-theme-primary) px-1! py-1/2! text-xs! text-(--tn-neutral-tertiary-color) opacity-0 transition-opacity group-hover:opacity-100 border border-(--tn-theme-contrast)! z-50">
    {t("context-menu.new-tab")}
  </span>
</div>
