---
// Styles
import "../styles/components/TabList.scss";
import "../styles/components/EditorContent.scss";

// Components
import Icon from "./icons/Icon.astro";
---

<button id="create-tab" tabindex="0" aria-label="Create new tab" class="bg-(--tn-theme-contrast)! p-4! rounded-2xl flex justify-center items-center hover:bg-(--tn-theme-contrast)/75! hover:border-transparent text-(--tn-neutral-tertiary-color) min-w-[56px]">
  <Icon name="plus" />
</button>
