---
// Styles
import "../styles/components/FloatingMenu.scss";

// Components
import CreateTab from "./Createtab.astro";
import MainToolsButton from "./menu/Floating/MainToolsButton.astro";
import FloatingButtonGroup from "./menu/Floating/FloatingButtonGroup.astro";
import FloatingButton from "./menu/Floating/FloatingButton.astro";

const contentButtons = [
  { action: "redo", iconName: "redo", tooltip: "Redo", className: "tn-redo" },
  { action: "undo", iconName: "undo", tooltip: "Undo", className: "tn-undo" },
  { action: "copy", iconName: "copy", tooltip: "Copy", className: "tn-copy" },
  { action: "paste", iconName: "paste", tooltip: "Paste", className: "tn-paste" },
];

const fontButtons = [
  { action: "bold", iconName: "bold", tooltip: "Bold", className: "tn-bold" },
  { action: "underline", iconName: "underline", tooltip: "Underline", className: "tn-under" },
  { action: "italic", iconName: "italic", tooltip: "Italic", className: "tn-italic" },
];

const tabButtons = [
  { action: "pin-tab", iconName: "pin", tooltip: "Pin Tab", className: "tn-pin" },
  { action: "edit-name-tab", iconName: "edit", tooltip: "Edit Name Tab", className: "tn-edit" },
  { action: "delete-tab", iconName: "delete", tooltip: "Delete Tab", className: "tn-delete" },
];
---

<nav class="tn-navbar absolute bg-(--tn-theme-primary)/2! bottom-3 right-0 md:right-5 md:bottom-7 flex flex-column items-center justify-center rounded-2xl py-2max-w-[95vw] overflow-x-autoscrollbar-hide">
  <div dir="rtl" class="tn-navbar-btns tn-navbar-checked flex flex-col-reverse items-center justify-between gap-1 h-auto">
    <CreateTab />

    <MainToolsButton />

    <div class="max-h-0 relative overflow-hidden peer-checked/menu:overflow-visible peer-checked/menu:max-h-[300px]! max-w-[60px] transition-all duration-300 ease-in-out flex flex-col mb-5 items-center justify-center gap-1">
      <!-- Grupo Content -->
      <FloatingButtonGroup id="tn-navbar__content" radioName="options" radioId="tn-open-options__content" iconName="clipboard" buttons={contentButtons} iconStrokeWidth="1.5" />

      <!-- Grupo Font -->
      <FloatingButtonGroup id="tn-navbar__font" radioName="options" radioId="tn-open-options__font" iconName="font" buttons={fontButtons} iconStrokeWidth="10" />

      <!-- Grupo Tab -->
      <FloatingButtonGroup id="tn-navbar__tab" radioName="options" radioId="tn-open-options__tab" iconName="tab" buttons={tabButtons} iconStrokeWidth="1.5" />

      <!-- Botón Settings individual -->
      <FloatingButton action="settings" iconName="settings" tooltip="Settings" className="tn-setting border-(--tn-theme-contrast)! p-4!" onClick="event.preventDefault(); document.querySelector('dialog#info-notepad').showModal()" />
    </div>
  </div>
</nav>
