---
// Styles
import "../styles/components/InfoTab.scss"

// Icons
import Icon from "../components/icons/Icon.astro";
---

<div class="info-tab">
  <button onclick="event.preventDefault(); document.querySelector('dialog#info-notepad').showModal()" id="open-modal-info">
    <Icon name="info" />
  </button>
</div> 