---
import "../styles/components/InfoModals.scss";
---

<section id="modals">
    
  <dialog id="info-notepad" class="info">
    <div class="info-container">
      <div class="info-row">
        <div class="info-content">
          <div class="info-content__header">
            <h1>Bloc de Notas Online Gratuito</h1>
            <p>
              Este es un bloc de notas gratuito, sencillo y básico, que puedes
              usar directamente en tu navegador. Todos los cambios se guardan
              en el almacenamiento local del navegador, pero ten en cuenta que
              al recargar sin caché, se perderá la información. Haz un
              respaldo de tus notas antes de recargar.
            </p>
          </div>
          <div class="info-content__main">
            <h4>Funcionalidades</h4>
            <ol>
              <li>Menu Contextual</li>
              <li>
                Guardado Automático: Los cambios se guardan en el Local
                Storage.
              </li>
              <li>
                Gestión de Pestañas
                <ul>
                  <li>Editar nombre de pestañas</li>
                  <li>Crear nuevas pestañas</li>
                  <li>Eliminar pestañas existentes</li>
                </ul>
              </li>
            </ol>
          </div>
          <div class="info-content__footer">
            <div
              class="info-content__footer--left info-content__footer--column"
            >
              <a
                href="#"
                onclick="event.preventDefault(); document.querySelector('dialog#info-license').showModal();"
                >Licencia</a
              >
            </div>
            <div
              class="info-content__footer--center info-content__footer--column"
            >
              <a
                href="#"
                onclick="event.preventDefault(); document.querySelector('dialog#info-terms').showModal();"
                >Terminos de Uso</a
              >
            </div>
            <div
              class="info-content__footer--right info-content__footer--column"
            >
              <form method="dialog">
                <button>Cerrar</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </dialog>

  <dialog id="info-license" class="info">
    <form method="dialog">
      <button>X</button>
    </form>
    <h3>Licencia GNU Affero General Public License (AGPL) v3.0</h3>
    <p>
      Este software está licenciado bajo la GNU Affero General Public License
      (AGPL) v3.0. La licencia AGPL v3.0 garantiza a los usuarios la libertad
      de usar, estudiar, modificar y distribuir el software, bajo las
      siguientes condiciones:
    </p>
    <ol>
      <li>
        <p>
          <strong>Libre Uso:</strong> El software puede ser utilizado para cualquier
          propósito, sin restricciones.
        </p>
      </li>
      <li>
        <p>
          <strong>Modificación:</strong> Los usuarios pueden modificar el software
          y distribuir las versiones modificadas.
        </p>
      </li>
      <li>
        <p>
          <strong>Distribución:</strong> Cualquier copia del software, ya sea en
          su forma original o modificada, debe incluir la misma licencia AGPL v3.0.
        </p>
      </li>
    </ol>
    <h4>Cláusula Adicional: Restricción de Uso Comercial</h4>
    <p>
      Este software está licenciado bajo la GNU Affero General Public License
      (AGPL) v3.0. Sin embargo, se incluye la siguiente cláusula adicional:
    </p>
    <p>
      <strong>Uso Comercial Restringido:</strong>Se prohíbe la
      comercialización directa o indirecta de este software, incluyendo pero
      no limitado a la venta, arrendamiento, sublicenciamiento, o cualquier
      otro uso con fines comerciales, sin el consentimiento expreso y por
      escrito del titular original de los derechos de autor. Esta restricción
      no afecta los derechos de los usuarios a modificar, mejorar o
      redistribuir el software siempre que dichas actividades no impliquen un
      uso comercial.
    </p>
    <p>
      Para obtener permisos específicos relacionados con el uso comercial, por
      favor contacta al titular de los derechos de autor.
    </p>
  </dialog>

  <dialog id="info-terms" class="info">
    <form method="dialog">
      <button>X</button>
    </form>
    <h3>Términos y Advertencias para el Uso del Bloc de Notas</h3>
    <ol>
      <li>
        <p>
          <strong>Límite de Almacenamiento <br /><br /></strong> Este Bloc de Notas
          utiliza el LocalStorage de tu navegador para guardar la información.
          Aunque el límite de almacenamiento es de 5 MB, te recomiendo no almacenar
          grandes volúmenes de texto. Ten en cuenta que el almacenamiento en el
          navegador es limitado y puede verse afectado si guardas grandes cantidades
          de información. Si alcanzas el límite, podrías perder datos, por lo que
          sugerimos realizar copias de seguridad regularmente.
        </p>
      </li>
      <li>
        <p>
          <strong>Seguridad de la Información <br /><br /></strong> La información
          que guardas en este Bloc de Notas no está encriptada y se almacena en
          el LocalStorage de tu navegador, lo cual no garantiza su seguridad. Te
          recomiendo no guardar información sensible o privada en esta herramienta,
          ya que podría ser vulnerable a accesos no autorizados si otros usuarios
          tienen acceso a tu dispositivo o navegador.
        </p>
      </li>
      <li>
        <p>
          <strong>Precaución con la URL <br /><br /></strong> Asegúrate de que
          estás utilizando una URL confiable y segura al acceder al Bloc de Notas.
          Evita acceder desde enlaces sospechosos o en redes públicas no seguras,
          ya que podrías exponerte a ataques de suplantación de identidad (phishing)
          o robo de datos. Te recordamos que el equipo de desarrollo no se responsabiliza
          por la pérdida de datos debido a usos inapropiados de la herramienta
          o acceso no seguro.
        </p>
      </li>
    </ol>
  </dialog>
  
</section>