---
// Styles
import "../styles/components/InfoModals.scss";

// Icons
import Icon from "../components/icons/Icon.astro";

// Components
import SettingsNavItem from "./modals/SettingsNavItem.astro";

// Settings Tabs
import AboutTab from "./modals/settings/tabs/AboutTab.astro";
import LicenseTab from "./modals/settings/tabs/LicenseTab.astro";
import TermsTab from "./modals/settings/tabs/TermsTab.astro";
import FontTab from "./modals/settings/tabs/FontTab.astro";
import AppearanceTab from "./modals/settings/tabs/AppearanceTab.astro";
import RoadmapTab from "./modals/settings/tabs/RoadmapTab.astro";

const navItems = [
  { tabId: "about", iconName: "about", labelKey: "mtb.about", className: "active" },
  { tabId: "license", iconName: "license", labelKey: "mtb.licence" },
  { tabId: "terms", iconName: "terms", labelKey: "mtb.terms" },
  { tabId: "roadmap", iconName: "roadmap", labelKey: "mtb.roadmap" },
  { tabId: "fonts", iconName: "tipo", labelKey: "mtb.typo" },
  { tabId: "appearance", iconName: "appearance", labelKey: "mtb.appearance" },
];
---

<section id="modals">
  <dialog id="info-notepad" class="settings-modal open:block open:opacity-100 open:scale-100 open:absolute open:top-1/2 open:left-1/2 open:-translate-1/2 lg:h-[80vh] md:w-[70%] md:max-w-[70%] md:h-auto md:min-h-[unset] w-[90%] h-auto max-w-[90vw] min-h-[600px] max-h-[70vh] text-(--color-text)! bg-(--tn-theme-primary-dark) overflow-hidden shadow-2xl rounded-2xl scale-100 opacity-0 hidden border-0 p-0!">
    <div class="settings-container md:flex-row flex h-full flex-col">
      <!-- Sidebar izquierdo -->
      <div class="settings-sidebar lg:justify-between md:w-auto w-full bg-(--tn-theme-accent) flex flex-col min-h-auto pt-[20px]! pb-[12px]! px-[16px]!">
        <div class="user-section border-b border-(--color-text) text-center pt-0! px-[12px]! pb-[6px]!">
          <h2 class="flex items-center justify-start text-xl! font-semibold m-0! text-(--color-text)">
            <Icon name="tomanote" className="size-1 md:size-6" />
            TomaNote
          </h2>
          <span class="version text-sm! text-(--color-text)">v 0.4.0</span>
        </div>

        <nav class="settings-nav bg-(--tn-neutral-tertiary-color)/10 rounded-lg mt-[16px]! px-[5px]!">
          {navItems.map((item) => <SettingsNavItem className={item.className || ""} tabId={item.tabId} iconName={item.iconName} labelKey={item.labelKey} />)}
        </nav>

        <form enctype="application/x-www-form-urlencoded" method="dialog" class="sidebar-footer">
          <button class="save-button w-full p-[12px]! border-0 rounded-sm bg-(--tn-theme-contrast) text-(--tn-neutral-tertiary-color)! cursor-pointer text-normal! transition-all hover:bg-(--tn-theme-contrast)/85! hover flex items-center justify-center gap-2">
            <Icon name="check" className="size-1 md:size-6" />
            <span data-i18n="mtb.submit"></span>
          </button>
        </form>
      </div>

      <!-- Contenido principal -->
      <div class="settings-content flex-1 p-[24px]! overflow-y-scroll bg-(--tn-theme-secondary)">
        <!-- Pestaña Acerca de -->
        <AboutTab />

        <!-- Pestaña Licencia -->
        <LicenseTab />

        <!-- Pestaña Términos -->
        <TermsTab />

        <!-- Pestaña Roadmap -->
        <RoadmapTab />

        <!-- Pestaña Tipografia -->
        <FontTab />

        <!-- Pestaña Theme -->
        <AppearanceTab />
      </div>
    </div>
  </dialog>
</section>
