---
// src/components/ThemeSelector.astro
import "../styles/components/ThemeSelector.scss";
---

<div class="theme-selector-wrapper"></div>

<style>
  .theme-selector-wrapper {
    margin-left: auto;
    padding-left: 50px;
    margin-top: 2px;
    display: flex;
    align-items: center;
  }
</style>