---
// Styles
import "./floating-menu.scss";

// Components
import CreateTab from "../../components/Createtab.astro";
import MainToolsButton from "./components/MainToolsButton.astro";
import FloatingButtonGroup from "./components/FloatingButtonGroup.astro";
import FloatingButton from "./components/FloatingButton.astro";

const contentButtons = [
  { action: "redo", iconName: "redo", tooltip: "Redo", className: "tn-redo" },
  { action: "undo", iconName: "undo", tooltip: "Undo", className: "tn-undo" },
  { action: "copy", iconName: "copy", tooltip: "Copy", className: "tn-copy" },
  { action: "paste", iconName: "paste", tooltip: "Paste", className: "tn-paste" },
];

const fontButtons = [
  { action: "bold", iconName: "bold", tooltip: "Bold", className: "tn-bold" },
  { action: "underline", iconName: "underline", tooltip: "Underline", className: "tn-under" },
  { action: "italic", iconName: "italic", tooltip: "Italic", className: "tn-italic" },
];

const tabButtons = [
  { action: "pin-tab", iconName: "pin", tooltip: "Pin Tab", className: "tn-pin" },
  { action: "edit-name-tab", iconName: "edit", tooltip: "Edit Name Tab", className: "tn-edit" },
  { action: "delete-tab", iconName: "delete", tooltip: "Delete Tab", className: "tn-delete" },
];
---

<nav class="tn-navbar" id="floating-nav" style="bottom: var(--nav-bottom, 1rem); padding-bottom: var(--nav-pb, 0rem);">
  <div dir="rtl" class="tn-navbar-btns tn-navbar-checked flex flex-col-reverse items-center justify-between gap-1 h-auto">
    <CreateTab />

    <MainToolsButton />

    <div class="max-h-0 relative overflow-hidden peer-checked/menu:overflow-visible peer-checked/menu:max-h-[300px]! max-w-[60px] transition-all duration-300 ease-in-out flex flex-col items-center justify-center gap-1">
      {/* Content Group */}
      <FloatingButtonGroup id="tn-navbar__content" radioName="options" radioId="tn-open-options__content" iconName="clipboard" buttons={contentButtons} iconStrokeWidth="1.5" />

      {/* Font group */}
      <FloatingButtonGroup id="tn-navbar__font" radioName="options" radioId="tn-open-options__font" iconName="font" buttons={fontButtons} iconStrokeWidth="10" />

      {/* Tab Group */}
      <FloatingButtonGroup id="tn-navbar__tab" radioName="options" radioId="tn-open-options__tab" iconName="tab" buttons={tabButtons} iconStrokeWidth="1.5" />

      {/* Individual Settings button */}
      <FloatingButton action="settings" iconName="settings" tooltip="Settings" className="tn-setting border-(--tn-theme-contrast)! p-4! bg-(--tn-theme-secondary)" onClick="event.preventDefault(); document.querySelector('dialog#info-notepad').showModal()" />
    </div>
  </div>
</nav>