---
// LicenseTab.astro - Settings Modal - License Tab
---

<div class="settings-tab hidden [&.active]:block" id="license-tab">
  <div class="settings-header">
    <h3 data-i18n="licence.main-title"></h3>
  </div>
  <hr />
  <div class="settings-body">
    <h4 class="mb-3!">
      <u data-i18n="licence.main-subtitle"></u>
    </h4>
    <p class="mb-3!" data-i18n="licence.main-description"></p>
    <p class="mb-3!" class="inline-block">
      <strong data-i18n="licence.condition1-strong"></strong>
      <span data-i18n="licence.condition1-normal"></span>
    </p>
    <p class="mb-3! inline-block">
      <strong data-i18n="licence.condition2-strong"></strong>
      <span data-i18n="licence.condition2-normal"></span>
    </p>
    <p class="mb-3! inline-block">
      <strong data-i18n="licence.condition3-strong"></strong>
      <span data-i18n="licence.condition3-normal"></span>
    </p>
    <p class="mb-3!">
      <strong data-i18n="licence.second-title"></strong>
    </p>
    <p class="mb-3!" data-i18n="licence.second-description"></p>
    <p class="mb-3!">
      <strong data-i18n="licence.third-title"></strong>
      <span data-i18n="licence.third-description"></span>
    </p>
    <p data-i18n="licence.last-description"></p>
  </div>
</div>
