<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap">
    <link rel="icon" href="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pgo8IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDIwMDEwOTA0Ly9FTiIKICJodHRwOi8vd3d3LnczLm9yZy9UUi8yMDAxL1JFQy1TVkctMjAwMTA5MDQvRFREL3N2ZzEwLmR0ZCI+CjxzdmcgdmVyc2lvbj0iMS4wIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciCiB3aWR0aD0iNTEyLjAwMDAwMHB0IiBoZWlnaHQ9IjUxMi4wMDAwMDBwdCIgdmlld0JveD0iMCAwIDUxMi4wMDAwMDAgNTEyLjAwMDAwMCIKIHByZXNlcnZlQXNwZWN0UmF0aW89InhNaWRZTWlkIG1lZXQiPgoKPGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMC4wMDAwMDAsNTEyLjAwMDAwMCkgc2NhbGUoMC4xMDAwMDAsLTAuMTAwMDAwKSIKZmlsbD0iIzAwMDAwMCIgc3Ryb2tlPSJub25lIj4KPHBhdGggZD0iTTM4MTMgNDg4NSBjLTg5IC0yNCAtMTcxIC03MiAtMjM4IC0xNDAgLTE2MyAtMTYzIC0yMDIgLTQwMyAtOTkKLTYxMiBsMjYgLTU1IC0yNTAgLTI1MiBjLTE2MSAtMTYxIC0yNTMgLTI2MSAtMjU3IC0yNzggLTE3IC02OSAzMCAtMTI4IDEwMwotMTI4IGw0NSAwIDI1NiAyNTQgMjU2IDI1NSAzNSAtMTkgYzE2MSAtODcgMzYzIC04NiA1MTcgMiA2MyAzNSAxNjEgMTMxIDE5NgoxOTEgOTEgMTU1IDk1IDM1MyAxMCA1MjIgLTU5IDExNiAtMjE4IDIzNiAtMzUxIDI2NCAtNzEgMTUgLTE4NSAxMyAtMjQ5IC00eiIvPgo8L2c+Cjwvc3ZnPgo=">
		<title>Notepad</title>
	</head>
	<body id="body">
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
