@use "../abstracts/Variables.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 16px; // 1rem
}  

body {
  margin: 0;
  padding: var(--padding-base);
  color: var(--tn-neutral-tertiary-color);
  background-color: var(--tn-default-primary-color);
  width: 100%;
  height: auto;
  min-height: 100vh;
  overflow: hidden;
  font-family: var(--font-family-default);
  
  img {
    max-width: 500px;
  }

  button {
    cursor: pointer;
  }
}

.default-font-family {
  font-family: "Raleway", sans-serif, serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

*[contenteditable="true"]:focus,
*[contenteditable="true"]:active {
  border: none;
  outline: none;
}

.code-block {
  background-color: var(--color-secondary-background);
  color: rgba(255, 255, 255, 0.5);
  font-family: var(--font-family-default);
  padding: var(--padding-block);
  margin-bottom: var(--margin-base);
  border-radius: var(--border-radius-small);
}

body, 
.modal,
.context-menu,
button,
input,
select {
  font-family: var(--font-family-default);
}

a {
  color: var(--tn-neutral-link-color);
  text-decoration: underline;
}

code {
  font-family: var(--font-family-default);
  background-color: var(--tn-default-accent-color);
  border-radius: var(--border-radius-small);
  display: inline-block;
  overflow: hidden;
}